body {
  position: relative;
}

h1 {
  text-align: center;
  font-size: 50px;
  padd
}

#images {
  list-style: none;
  margin-top: 20px;
  text-align: center;
  width: 1220px;
  padding: 0;
}

#container {
  margin: auto;
  width: 1220px;
  padding: 40px;
  padding-top: 20px;
  text-align: center;
  border: 3px solid black;
  border-radius: 40px;
  background-color: rgb(0, 0, 100);
  font-size: 50px;
  color: white;
  font-weight: bold;
}

img {
  display: inline-block;
  width: 394px;
  height: 394px;
  border: 3px outset black;
}

ul {
  margin: auto;
}

ul :last-child {
  margin-right: 0;
}

li {
  display: inline-block;
  width: 394px;
  height: 394px;
  margin-right: 10px;
}

#chart {
  width: 1220px;
  margin: auto;
  border: 3px solid black;
  border-radius: 40px;
  background-color: rgb(0, 0, 100);
  padding: 40px;
}

#clicks_chart {
  border: 2px solid black;
  background-color: white;
}

#views_chart {
  border: 2px solid black;
  background-color: white;
}

.hidden {
  visibility: hidden;
}

#buttons {
  margin: auto;
  width: 300px;
}

button {
  margin: 2px auto;
}
