#images {
  list-style: none;
  margin: auto;
  text-align: center;
  width: 1300px;
}

img {
  display: inline-block;
  width: 400px;
  border: 3px solid black;
}

li {
  display: inline-block;
  width: 400px;
}

#chart {
  width: 1100px;
  margin: auto;
}

.hidden {
  visibility: hidden;
}
